.expense-date {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0rem 2.5rem;
  font-family: "Kalam", cursive;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
