.newTask__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.newTask__control label {
  font-family: "Protest Riot", sans-serif;
  font-weight: 200;
  margin-bottom: 0.5rem;
  display: block;
}

.newTask__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 15rem;
  max-width: 100%;
}

.newTask__control select {
  display: flex;
  width: 16rem;
  text-align: center;
  font-family: "Protest Riot", sans-serif;
  padding: 0.5rem 3rem;
  font-weight: 200;
  font-size: large;
  border-radius: 6px;
}

.newTask__actions {
  text-align: center;
}
